*
!.env.development
!.env.production
!.eslintrc.json
!.eslintignore
!vitest.config.mts
!vercel.json
!.lintstagedrc.js
!.npmrc
!.prettierrc
!backend/
!backend_colab/
!docker/
!excalidraw-app/
!package.json
!packages/
!public/
!scripts/
!tsconfig.json
!yarn.lock

# keep (sub)sub directories at the end to exclude from explicit included
# e.g. ./packages/excalidraw/{dist,node_modules}
**/build
**/dist
**/node_modules
#**/*.ts
!backend/*.json
!backend/*.ts
!backend/src/
!backend_colab/*.json
!backend_colab/*.ts
!backend_colab/src/
!scripts/**/*.js
!scripts/**/*.ttf
